.nav-link {
  color: #525252 !important;
  font-size: 0.8rem;
}
.nav-link:hover {
  background: #525252 !important;
  color: #fff !important;
  transition: all 0.3s ease-in-out;
}

.nav-link.active {
  background: #525252 !important;
  color: #fff !important;
}
